pkgbase = gibson-ui-bin
	pkgdesc = Cinematic 3D file-system visualiser for Omarchy and Wayland
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/Popidge/gibson-ui
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = bash
	depends = glibc
	depends = libgcc
	depends = libxkbcommon
	depends = vulkan-icd-loader
	depends = wayland
	depends = xdg-utils
	optdepends = foot: import the terminal font and colour settings
	optdepends = hyprland: move cockpit mode to an empty workspace
	optdepends = omarchy: use the current palette and background
	provides = gibson-ui=0.2.0
	conflicts = gibson-ui
	options = !debug
	source_x86_64 = gibson-ui-0.2.0-x86_64.tar.zst::https://github.com/Popidge/gibson-ui/releases/download/v0.2.0/gibson-ui-0.2.0-x86_64.tar.zst
	sha256sums_x86_64 = 8cfa47664a570813c78b9c7399eed1c04d783b4a5b6498c5266b906b685d2e3a

pkgname = gibson-ui-bin
